:root {
  --skyblue: hsl(200, 85%, 52%);
  --skyblue-dark: hsl(200, 85%, 40%);
  --green: hsl(110, 80%, 40%);
  --red: hsl(345, 90%, 44%);
  --orange: hsl(40, 90%, 45%);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #222;
  color: #dedede;
}

.container {
  width: 90%;
  margin: auto;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: #ccc;
  color: #333;
  font-weight: bold;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  padding: .5rem .75rem;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: all .2s ease-in-out;
}

.btn:hover {
  background-color: #999;
  color: #eee;
}

.btn-blue {
  border-color: var(--skyblue-dark);
  background-color: var(--skyblue);
  color: #eee;
}

.btn-blue:hover {
  background-color: var(--skyblue-dark);
  color: #ddd;
}

.red { color: var(--red); }
.orange { color: var(--orange); }
.green { color: var(--green); }
.skyblue { color: var(--skyblue); }
.skyblue-dark { color: var(--skyblue-dark); }

.loading {
  font-size: 1.4rem;
  color: var(--skyblue);
  font-weight: bold;
}

.mx-1 { margin: 0 1rem; }
.mx-2 { margin: 0 1.5rem; }
.mx-3 { margin: 0 2rem; }
.mx-4 { margin: 0 2.5rem; }
.mx-5 { margin: 0 3rem; }

.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 1.5rem; }
.mt-3 { margin-top: 2rem; }
.mt-4 { margin-top: 2.5rem; }
.mt-5 { margin-top: 3rem; }